@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body,html {
margin: 0;
overflow-x: hidden;
box-sizing: border-box;
background-color: #eff3f8;
font-family: 'Montserrat', sans-serif;
}

/* nav css starts here */
.nav{
background-color: #298321;
padding: 10px 0;
display:flex;
place-items:center;
}

.nav img{
margin:auto;
padding:0 1rem;
cursor: pointer;
}

.navlinks{
display: flex;
place-items: center;
margin: auto;
padding: 1rem;
}

.navlinks a{
padding:0 1rem;
color:#fff;
text-decoration:none;
}

/* nav css stops here */

/* card css starts here */
.card-grid {
display: grid;
place-items: center;
place-content: center;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
gap:1rem;
margin: auto;
max-width: 80rem;
padding: 0.8rem 0; }

.card {
padding: 1rem;
margin-bottom: 20px;
border-radius: 5px;
}


.card-title{
font-weight: 300;
font-size: 1.5rem;
line-height: 2rem;
margin: 18px 4px;
padding: 0 10px;
}

.card img {
width: 100%;
height: auto;
object-fit: cover;
object-position: center;
}

.card h2 {
font-size: 1.4rem;
margin-bottom: 1rem;
letter-spacing: 1px;
}

.card-content{
margin: .75rem 1rem;
line-height: 1.625;
font-weight:normal;
}

.card p {
font-size: 1rem;
margin-bottom: 2rem;
letter-spacing: 1px;
}

.card button {
background-color: #f6173c;
color: #fff;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: 0.3s ease-in-out;
}

.card button a{
text-decoration: none;
color: #fff;
letter-spacing: 1px;
}

.card button:hover{
background-color: #0a92e6;
}
/*card css stops here*/

/* article slug css starts here */
.article-container{
max-width: 50rem;
margin: auto;
}
 
  
.backbtn-box{
display: flex;
justify-content: space-between;
padding: 0 1rem;
}
  
.backbtn-box h1{
font-size: 30px;
font-weight: bold;
color: grey;
text-align: center;
}
  
.backbtn{
display: inline-block;
padding: 5px 10px;
font-size: 18px;
color: #fff;
background-color: #f33030;
border: none;
border-radius: 4px;
text-transform: capitalize;
cursor: pointer;
background-size: 200% auto;
margin: auto 0 auto 0;
}
  
.imgbox img{
width: 100%;
height: auto;
object-fit: cover;
object-position: center;
}
    
.flexdate{
display: flex;
place-items: center;
justify-content: flex-end;
padding: 0 15px;
}
  
.body-content{
line-height: 2;
font-weight: normal;
padding: 0 1rem;
margin-bottom: 1rem;
}
  
.body-content p{
font-size: 1.2rem;
letter-spacing: 1px;}
  
.body-content li{
font-weight: 500;
}

.body-content h1{
letter-spacing: 1px;
}

.body-content h3{
letter-spacing: 1px;
}
  
.body-content img{
width: 100%;
object-fit: cover;
}

.body-content li{
letter-spacing: 1px;
}
        
.authflex{
display: flex;
place-items: center;
justify-content: space-between
}
        
.authflex p{
margin: .75rem 1rem;
background:linear-gradient(to bottom,#ff5100,#eaa206) ;
border-radius: 7px;
padding: 5px 8px;
color: #fff;  
font-weight: 300;
}  


  



  
table {
width: 100%;
border-collapse: collapse;
border-bottom: solid;
}
  
thead {
background-color: #eee;
}
  
th,
td {
padding: 10px;
text-align: left;
border-right: solid;
border-top: solid;
border-left: solid;
}
  

  
td:first-child {
font-weight: bold;
}
  
td:nth-child(2) {
text-align: right;
}
  
td:last-child {
text-align: center;
}
  
td:empty:before {
 content: "";
}

table tr:last-child td {
border-bottom: none;
}
  
table td:nth-child(3)::after {
content: " ";
}
  
table td:nth-child(3) {
text-align: center;
}
  
table td:nth-child(3):empty:before {
content: "";
}
  
table td:nth-child(3):not(:empty):after {
content: " ";
font-size: 0.8em;
}
  
/* article slug css starts here */

/* footer css starts here */
#footer{
padding: 3px;
background: #298321;
text-align: center;}
             
.flex-footer{
display: flex;
place-content: center;
border-bottom: solid 1px #fff;
}

.footer-tablebox{
width: 100%;
border-right: solid 1px #fff;
padding-bottom: 10px;
padding-top: 10px;
}
  
  
   
.footer-headline{
color: #fff;
font-size: 24px;
font-weight: 600;
letter-spacing: 2px;
}

.footer-navlink{
margin: auto;
padding: 0;
}

.footer-navlink li{
list-style-type: none;
}

.footer-navlink a{
text-decoration: none;
color: #fff;
font-size: 18px;
line-height: 2.5;
cursor: pointer;
}
      
.footer-logo-box{
margin: auto;
}

.footer-logo-box img{
cursor: pointer
} 
/* footer css starts here */

/* termsofuse css page */
.container-terms{
display: grid;
place-items: center;
padding: 0 1rem;
}

.itterms h1{
color: #318e29;
letter-spacing: 1px;
}

.textblock{
letter-spacing: 1px;
}

.textblock p{
line-height: 2;
font-weight: 600;
font-size: 14px;
}

.textblock li{
margin-bottom: 1rem;
}

/* termsofuse css page */



/* feedback css */
.feedback-block{
margin: auto;
width: auto;
padding: 0 1rem;
}
/* feedback css */


/* contact css page */
.contact_title_img{
display: flex;
place-content: center;
place-items: center;
flex-direction: column;
padding: 1rem 0;
background-color: #318e29;
}

.conimg{
width: 100%;
height: auto;
}

.contact_title_img p{
font-size: 1.125rem;
line-height: 1.5;
width: 52rem;
color: #fff;
}

.formbox{
display: flex;
flex-direction: column;
max-width: 400px;
margin: 1rem auto;
background-color: #fff;
padding: 2rem;
border-radius: 7px;
}

.formbox label{
margin-bottom: 1rem;
letter-spacing: 1px;
text-transform: capitalize;
}

.formbox input{
padding: 1rem 0;
margin-bottom: 1rem;
outline: none;
width: 100%;
}



.formbox textarea{
resize: none;
margin-bottom: 1rem;
}

.formbox button{
background-color: #318e29;
border: none;
border-radius: 10px;
color: #fff;
cursor: pointer;
outline: none;
padding: 20px;
}
    
    
    /* contact css page */

@media(max-width:768px){
/* @nav css starts here */
.nav{
flex-wrap: wrap;
padding: 0 1rem;
}
.nav img{
margin: auto;
padding: 1rem 0;
}
.navlinks{
flex-wrap: wrap;
}

.navlinks a{
padding: 10px;
margin: auto;
font-size: 12px;
}
/* @nav css stops here */

/* @article css */
.backbtn-box h1{
font-size: 20px;
}
/* @article css */


/* @footer css strats here */
.flex-footer{
display: flex;
place-content: center;
flex-direction: column;
}

.footer-navlink{
border-bottom: solid 1px #fff;
}
    
.footer-tablebox{
border-right: none;
}
/* @footer css strats here */
}